<template>
  <span>
    <input
      :value="value"
      type="checkbox"
      @change="handleChange"
      v-on="listeners"
      v-bind="attrs"
    />
  </span>
</template>

<script>
export default {
  name: "BasicCheckbox.vue",
  inheritAttrs: false,
  props: ["value"],
  computed: {
    listeners() {
      /* eslint-disable no-unused-vars */
      const { change: change, ...listeners } = this.$listeners;
      return listeners;
    },
    attrs() {
      const { type, ...attrs } = this.$attrs;
      return attrs;
    }
  },
  methods: {
    handleChange(event) {
      console.log(1);
      this.$emit("change", event.target.value);
    }
  }
};
</script>

<style scoped>
</style>
