<template>
  <span>
    <button
      @click="handleClick"
      v-on="listeners"
      v-bind="attrs"
    >
      {{ label }}
    </button>
  </span>
</template>

<script>
export default {
  name: "BasicButton.vue",
  inheritAttrs: false,
  props: ["label"],
  computed: {
    listeners() {
      /* eslint-disable no-unused-vars */
      const { click: handleClick, ...listeners } = this.$listeners;
      return listeners;
    },
    attrs() {
      const { ...attrs } = this.$attrs;
      return attrs;
    }
  },
  methods: {
    handleClick(event) {
      console.log(1);
      this.$emit("click", event.target.value);
    }
  }
};
</script>

<style scoped>
button {
  width: 100%;
}
</style>
