<template>
  <div class="home">
    <BasicHeader />
    <div>
      <input type="type" value="" placeholder="" />
    </div>
    <div>
      <ul>
        <li>
          <input type="checkbox" value="" />
          <span>Buy Milk</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import HeaderBlock from "../../components/organisms/HeaderBlock/index";

export default {
  name: "home",
  components: {
    HeaderBlock
  }
};
</script>
