<template>
  <span>
    <input
      :value="value"
      @input="handleInput"
      @keydown.enter="handleKeydown"
      v-on="listeners"
      v-bind="attrs"
    />
  </span>
</template>

<script>
export default {
  name: "BasicInput.vue",
  inheritAttrs: false,
  props: ["value"],
  computed: {
    listeners() {
      /* eslint-disable no-unused-vars */
      const { input: handleInput, ...listeners } = this.$listeners;
      return listeners;
    },
    attrs() {
      const { ...attrs } = this.$attrs;
      return attrs;
    }
  },
  methods: {
    handleInput(event) {
      console.log(1);
      this.$emit("input", event.target.value);
    },
    handleKeydown(event) {
      console.log(2);
      this.$emit("keydown", event.target.value);
    }
  }
};
</script>

<style scoped>
input {
  width: 100%;
}
</style>
