<template>
  <nav>
    <ul>
      <li><router-link to="/home">home</router-link></li>
      <li><router-link to="/about">about</router-link></li>
      <li><router-link to="/contact">contact</router-link></li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "BasicNavigation.vue"
};
</script>
