<template>
  <div>
    <BasicNavigation />
  </div>
</template>

<script>
import BasicNavigation from "../../molecules/NavigationLinks/index";
export default {
  name: "HeaderBlock.vue",
  components: { BasicNavigation }
};
</script>

<style scoped>
</style>
